.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  background-color: #C2D3CD;  
}

.title {
  color: #56494C;
  text-align: center;
}

.app{
  max-width:600px;
  margin:auto;
}

code {
  background-color: #C2D3CD;
}

#preview{
  background-color:white;
  border: 1px solid;
  border-radius: 10px;
  height: 1000px;
  padding:10px;
}

footer {
  background: #5a7d7c;
  height: 100px;
  margin: 20px 0 0 0;
  text-align: center;
  padding: 50px 0 0 0;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
